.widget {
  position: absolute;
  border: 1px dashed gray;
  background-color: white;
  padding: 0.5rem 1rem;
  cursor: move;
}

.widget-header {
  display: flex;
  justify-content: space-between;
}

h4 {
  padding: 0;
  margin: 0;
  height: 25px;
}

.visibility-toggle {
  height: 25px;
}